<form method="POST" action="/users/add">
	<label>First Name</label>
	<br>
	<input type="text" name="first_name">
	<br>
	<label>Last Name</label>
	<br>
	<input type="text" name="last_name">
	<br>
	<label>E-mail</label>
	<br>
	<input type="text" name="email">
	<br>
	<input type="submit" value="Submit">
</form>